{% extends 'layout.html' %}

{% block body%}

<br/>
<div class="col-md-11">
  <h1 class="display-4">About the cryptocurrencies attributes</h1>
  <ul class="list-group list-inline">
    <li class="list-group-item list-group-item-white"><strong>Name</strong>: The cryptocurrency name.</li>
    <li class="list-group-item list-group-item-white"><strong>Symbol</strong>: The cryptocurrency symbol.</li>
    <li class="list-group-item list-group-item-white"><strong>Price</strong>: latest average trade price across markets.</li>
    <li class="list-group-item list-group-item-white"><strong>Price</strong>: latest average trade price across markets.</li>
    <li class="list-group-item list-group-item-white"><strong>Market capitalization </strong>: CoinMarketCap's market cap rank as outlined in its methodology.</li>
    <li class="list-group-item list-group-item-white"><strong>Percent change 1h</strong>: 1 hour trading price percentage change for each currency.</li>
    <li class="list-group-item list-group-item-white"><strong>Percent change 24h</strong>: 24 hour trading price percentage change for each currency.</li>
    <li class="list-group-item list-group-item-white"><strong>Percent change 7d</strong>: 7 day trading price percentage change for each currency.</li>
  </ul>
</div>
{% endblock %}